.container {
    max-width: 120rem;
    margin: 8rem auto;
    background-color: var(--color-grey-light-1);
    box-shadow: var(--shadow-dark);

    min-height: 50rem;
}

.header {
    font-size: 1.4rem;
    height: 7rem;
    background-color: #fff;
    border-bottom: 1px solid var(--color-grey-light-2);

    display: flex;
    justify-content: space-between;
    align-items: center;
    /* sets all items along the main axis to be centered */
}

.content {
    display: flex;
    /* By default, will set elements side by side */
}

.sidebar {
    background-color: var(--color-grey-dark-1);
    display: flex;
    flex-direction: column;
    /* Change direction of flex from left to right to top to bottom */
    justify-content: space-between;

    flex: 0 0 18%;
    /* flex: grow shrink basis flex-basis (in this case 18%) is the width */
    /* grow 0 so we don't want element to grow if there's some space
    shrink 0 so we don't want element to shrink if there's NOT enough space
    basis 18% because we always want it at 18% */
}

.hotel-view {
    background-color: #fff;

    flex: 1;
    /* with flex: 1, element will grow as much as it can */
}

.detail {
    display: flex;
    padding: 4.5rem;
    background-color: var(--color-grey-light-1);
    border-bottom: var(--line);
}

.description {
    font-size: 1.4rem;
    flex: 0 0 60%;
    margin-right: 4.5rem;
    background-color: #fff;
    box-shadow: var(--shadow-light);
    padding: 3rem;
}

.user-reviews {
    flex: 1;
}