.container {
    max-width: 120rem; 
    margin: 8rem auto;
    background-color: var(--color-grey-light-1);
    box-shadow: var(--shadow-dark);

    min-height: 50rem;

    @media only screen and (max-width: $bp-largest) {
        margin: 0;
        /* Once screen is 1200px, margin is 0 eliminating background from view */
        max-width: 100%;
        width: 100%;
        /* The container's 120rem * 8 is now only 960px after media query
        So set width and max width to 100% to eliminate remaining background */
    }
}

.header {
    font-size: 1.4rem;
    height: 7rem;
    background-color: #fff;
    border-bottom: 1px solid var(--color-grey-light-2);

    display: flex;
    justify-content: space-between;
    align-items: center;
    /* sets all items along the main axis to be centered */

    @media only screen and (max-width: $bp-smallest) {
        flex-wrap: wrap;
        height: 11rem;
        align-content: space-around;
    }
}

.content {
    display: flex;
    /* By default, will set elements side by side */
    @media only screen and (max-width: $bp-medium) {
        flex-direction: column;
    }
}

.sidebar {
    background-color: var(--color-grey-dark-1);
    display: flex;
    flex-direction: column;
    /* Change direction of flex from left to right to top to bottom */
    justify-content: space-between;

    flex: 0 0 18%;
    /* flex: grow shrink basis flex-basis (in this case 18%) is the width */
    /* grow 0 so we don't want element to grow if there's some space
    shrink 0 so we don't want element to shrink if there's NOT enough space
    basis 18% because we always want it at 18% */
}

.hotel-view {
    background-color: #fff;

    flex: 1;
    /* with flex: 1, element will grow as much as it can */
}

.detail {
    font-size: 1.4rem;
    display: flex;
    padding: 4.5rem;
    background-color: var(--color-grey-light-1);
    border-bottom: var(--line);

    @media only screen and (max-width: $bp-medium) {
        padding: 3rem;
    }

    @media only screen and (max-width: $bp-small) {
        flex-direction: column;
    }
}

.description {
    flex: 0 0 60%;
    margin-right: 4.5rem;
    /* Same value as padding in .detail */
    background-color: #fff;
    box-shadow: var(--shadow-light);
    padding: 3rem;

    @media only screen and (max-width: $bp-medium) {
        padding: 2rem;
        margin-right: 3rem;
    }

    @media only screen and (max-width: $bp-small) {
        margin-right: 0;
        margin-bottom: 3rem;
    }
}

.user-reviews {
    flex: 1;

    display: flex;
    flex-direction: column;
    align-items: center;
    /* Center otherwise it'll stretch entire width */
}